@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(10px); }
}

.animate-fade-in-out {
  animation: fadeInOut 2.5s ease-in-out;
}

.text-primary {
  color: #55278d;
}

.text-secondary {
  color: #3f2986;
}

.background-primary {
  background-color: #55278d;
}

.background-secondary {
  background-color: #3f2986;
}

:root {
  --primary: #3b82f6;
}

.bg-primary {
  background-color: var(--primary);
}

.hover\:bg-primary-dark:hover {
  background-color: #1d4ed8;
}
