name: Run Build Immopulse API

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # 1. Démarrer les services (Note l'espace au lieu du tiret)
      - name: Start Services with Docker Compose
        run: |
          docker compose up -d database clickhouse grafana
          echo "Services started. Setting permissions and waiting for databases to be ready..."
          sudo chmod -R 777 .
          # On attend que les bases soient prêtes (healthcheck manuel rapide)
          echo "Waiting for databases to be ready..."
          sleep 20

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x immopulse-api/gradlew

      # 2. Lancer le build
      # On force le profil 'test' si besoin, ou on laisse par défaut
      - name: Build with Gradle
        run: |
          cd immopulse-api
          ./gradlew build